.card-question-number{
    background-color: #F5F5F5;
    border-color:#E5E5E5;
}

.card-question-number-body{
    padding: 0.2rem;
}


@media (min-width: 1200px) { 
    .card-question-number{
        order: 3;
        margin-left: 2vw;
        flex: 5%;
    }

 }